{% extends "base.html" %}

{% block container %}


    <div class="container mt-5">
        <h1 class="text-center mb-4">Atualizar Funcionários</h1>
        <ul class="list-group">

            {% for employee in list_employees %}
            <!-- Template para um funcionário -->
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <strong>Matrícula:</strong> {{employee.registration}}<br>
                    <strong>Nome:</strong> {{employee.first_name}} {{employee.last_name}}
                </div>
                <div>
                    <a href='{% url "update_user" update_user.pk %}'>Atualizar</a>
                </div>
            </li>
            
            <!-- Adicionar mais itens conforme necessário -->
            
            {% endfor %}
        </ul>
</div>

{% endblock container %}
