{% extends "base.html" %}

{% block container %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4 text-black">Atualizar Usuário</h2>
            <form method="POST" action="{% url 'update_user' user.id %}" class="bg-dark p-4 rounded shadow-sm">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label text-light">Nome de Usuário</label>
                    <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label text-light">Senha (deixe em branco para não alterar)</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Digite a nova senha">
                </div>
                <div class="mb-3">
                    <label for="registration" class="form-label text-light">Matrícula</label>
                    <input type="text" class="form-control" id="registration" name="registration" value="{{ user.registration }}" required>
                </div>
                <div class="mb-3">
                    <label for="first_name" class="form-label text-light">Primeiro Nome</label>
                    <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user.first_name }}" required>
                </div>
                <div class="mb-3">
                    <label for="last_name" class="form-label text-light">Último Nome</label>
                    <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user.last_name }}" required>
                </div>
                <div class="mb-3">
                    <label for="option" class="form-label text-light">Cargo:</label>
                    <select name="option" id="option" class="form-control">
                        <option value="FUNCIONARIO" {% if user.usergroup.option == "FUNCIONARIO" %}selected{% endif %}>Funcionário</option>
                        <option value="GERENTE" {% if user.usergroup.option == "GERENTE" %}selected{% endif %}>Gerente</option>
                        <option value="CHEFE" {% if user.usergroup.option == "CHEFE" %}selected{% endif %}>Chefe</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary w-100">Atualizar</button>
            </form>
        </div>
    </div>
</div>

{% endblock container %}