<!DOCTYPE html>
<html>
<head>
    <title>Atualizar Usuário</title>
</head>
<body>
    <h1>Atualizar Usuário</h1>
    <form method="post">
        {% csrf_token %}
        <label for="username">Nome de usuário:</label>
        <input type="text" id="username" name="username" value="{{ user.username }}" required><br>

        <label for="password">Nova Senha (deixe em branco para manter a atual):</label>
        <input type="password" id="password" name="password"><br>

        <label for="registration">Registro:</label>
        <input type="text" id="registration" name="registration" value="{{ user.registration }}" required><br>

        <label for="first_name">Nome:</label>
        <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}" required><br>

        <label for="last_name">Sobrenome:</label>
        <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}" required><br>

        <label for="option">Grupo:</label>
        <select id="option" name="option" required>
            <option value="FUNCIONARIO" {% if user.usergroup.option == "FUNCIONARIO" %}selected{% endif %}>Funcionário</option>
            <option value="GERENTE" {% if user.usergroup.option == "GERENTE" %}selected{% endif %}>Gerente</option>
            <option value="CHEFE" {% if user.usergroup.option == "CHEFE" %}selected{% endif %}>Chefe</option>
        </select><br>

        <button type="submit">Atualizar Usuário</button>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>